*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background: #fff8ef;
}

.App {
  max-width: 1280px;
}

@media screen and (max-width: 1280px) {
.App {
    max-width: 90%;
  }
}
  
@media screen and (min-width: 480px) and (max-width: 1279px) {
.App {
    max-width: 90%;
  }
}